{% extends 'shared/base.html' %}

{% block content %}
    {% for tea in tea_values %}
    <h1>{{ tea.name }}<h1>
    <h2>{{ tea.flavor }}<h2>
    <ul>
        {% for method in tea.packaging_methods %}
        <li>Packaging: {{ method.name }}</li>
        <p>Longevity: {{ method.longevity }} months</p>

        <form action="{% url 'teaapp:tea_details' tea.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE" />
            <button>Delete</button>
        </form>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}