{% extends 'shared/base.html' %}

{% block content %}
<section class="list-container">
    <form action="{% url 'hrapp:tea_list' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label>Tea Name: </label>
            <input id="tea_name" type="text" name="tea_name">
        </fieldset>
        <fieldset>
            <label>Tea Flavor: </label>
            <input id="tea_flavor" type="text" name="tea_flavor">
        </fieldset>

        <input class="tea-button" type="submit">
    </form>
</section>
{% endblock content %}