{% extends 'shared/base.html' %}

{% block content %}
<section class="list-container">
    {% if tea.id is not None %}
    <form action="{% url 'teaapp:tea_details' tea.id %}" method="post">
    {% else %}    
    <form action="{% url 'teaapp:tea_list' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label>Tea Name: </label>
            <input id="tea_name" type="text" name="name">
        </fieldset>
        <fieldset>
            <label>Tea Flavor: </label>
            <input id="tea_flavor" type="text" name="flavor">
        </fieldset>
        <fieldset>
            <label>Packaging Method: </label>
            <select id="packaging" name="packaging">
            {% for method in all_methods %}
                <option value="{{ method.id }}">
                    {{ method.name }}
                </option>
            {% endfor %}
            </select>
        </fieldset>

        {% if tea.id is not None %}
        <input type="hidden" name="actual_method" value="PUT" />
        <input type="submit" value="Update" />
        {% else %}
        <input type="submit" value="Create" />
        {% endif %}
    </form>
</section>
{% endblock content %}